
src/static/.DS_Store
src/.DS_Store
.DS_Store
.idea/Data-Science-for-Education-Website.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
